
<br>
<mat-card-title style="color:blue;font-size:20px">Mash Kyrielight</mat-card-title>
<br><mat-card-subtitle style="color:chartreuse">Servant ID: 001</mat-card-subtitle>
<br><mat-card-content>Servant Class: Shielder</mat-card-content>
<br><img mat-card-image src="https://gamepress.gg/grandorder/sites/grandorder/files/2017-07/Shielder1.png" alt="..." class="mat-card-img">
<img mat-card-image src="https://gamepress.gg/grandorder/sites/grandorder/files/2020-03/Mash%20Kyrielight_Orthenaus.png" alt="..." class="mat-card-img">

<!--ADD TEXT SAYING ASCENSION MATERIALS OR ITEMS NEEDED FOR ASCENSION-->
<!-- ADD IMAGES FOR ASCENSION MATERIALS HERE-->

<mat-list>
    <mat-list-item> Pepper </mat-list-item>
    <mat-list-item> Salt </mat-list-item>
    <mat-list-item> Paprika </mat-list-item>
</mat-list>