<!-- bootstrap html flex 
    <div class="container-fluid d-flex flex-wrap">
    
    <div *ngFor="let html_fate of fate_team">
    
        <div class="card" style="width: 18rem;">
            <img src="{{ html_fate.image }}" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 style= "color:aqua;font-size: 20px;" class="card-title;">{{ html_fate.Name }}</h5>
            <p class="card-text">{{ html_fate.Class }}</p>
            <p class="card-text">Servant ID: {{ html_fate.id }}</p>
            <a href="#" class="btn btn-{{ html_fate.button }}">View Ascensions</a>
            </div>
        </div>
    </div>
</div> -->
<!--- Syntax for text
        <h1 style="color:red;font-size:40px;">Hello</h1>
        <p style="color:blue;font-size:18px;">This is just sample text</p>

        <mat-card-title-group>
            This is the title
            <br>this is how you start a new line 
            line
        -->
        <!-- Second attempt creating a card using material
            <br>
            <mat-card-title style="color:blue;font-size:20px">Mash Kyrielight</mat-card-title>
            <br><mat-card-subtitle style="color:chartreuse">Servant ID: 001</mat-card-subtitle>
            <br><mat-card-content>Servant Class: Shielder</mat-card-content>
            <br><img mat-card-image src="https://gamepress.gg/grandorder/sites/grandorder/files/2020-03/Mash%20Kyrielight_Orthenaus.png" alt="..." class="mat-card-img">
            <br><button><span class="mat-button-wrapper">View Ascension</span></button>
        -->


        <div fxLayout='row wrap' fxLayoutWrap class="cards">

            <mat-card *ngFor="let html_fate of fate_team" style="margin-top:10px;">
              <mat-card-header>
                <mat-card-title>{{html_fate.Name}}</mat-card-title>
                <mat-card-subtitle>{{html_fate.Class}}
                </mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image src="{{html_fate.image}}" alt="...">
              <mat-card-actions>
            <!---
                <button mat-button>
                  <mat-icon>favorite</mat-icon>
                </button>
            -->
                <button mat-button>View Ascension</button>
              </mat-card-actions>
            </mat-card>
        